name: flag_feature
description: App wide feature flag manager utilizing the power of Firebase Remote Config.
version: 2.0.0
homepage: https://github.com/mastersam07/feature-flag

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  firebase_remote_config: ^0.10.0+1
  flutter:
    sdk: flutter
  

dev_dependencies:
  flutter_lints: ^1.0.4
  flutter_test:
    sdk: flutter
  mockito: ^5.2.0
